*.txt
*.pt
*/__pycache__
*.vscode
*._.DS_Store
*.DS_Store
model
*.csv
data
trans
our_dataset
old_result
aug_result/*
log/
*.log
*.out
MocoResult/*
old_log
woMoco
zero-shot
own_result
cpt
exper.py
process_wiki_link.py
result
inference.py
convert.py
backup
